
  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/pushpendra-kumar-singh/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/">Twitter</a>
    <a class="footer-link" href="https://www.Instagram.com/">Instagram</a>
    <p class="copyright">© 2020 Pushpendra Kumar Singh.</p>
  </div>
    